.userName{
    font-size: 50px;
    font-weight: bolder;
}

.profilePageContainer{
    margin-left: 610px;
    position:relative;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
    width: 400px;
}

.bigPicture {
    border-radius: 0%;
    height: 200px;
    width: 200px;
}

.userEmail {
    font-weight: bold;
}
.followerUsername2 {
    opacity: 1;
    width: 100%;
    height: 20px
}

.followersButton {
background-color: #333333;
  color: lightblue;
  width: 80px;
}
