#userProfile :not(img) {
    padding-right: 20px;
    margin-top: 10px;
    font-size: 10px;
}
.userProfilePicture {
    width: 100%;
    margin-left: 20px;
}
.globalPicture{
   margin: auto; 
   height: 50px;
   width: 50px;
   border-radius: 50%; 
   padding: 0;
}

h2 {
    text-align: center;
    font-size: 10px;
    color: lightblue;
}

.loading{
    color: lightblue;
    font-size: 50px;
}