#post-form {
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 15px;
    top: 0;
    position:sticky;
    z-index: 9;
    margin: 0 auto;
    box-shadow: 0 1px 3px 0 lightblue, 0 2px 2px 0 lightblue,
    0 0 2px 0 lightblue;
    border-radius: 5px;
    margin-bottom: 20px;
    
  }
  
  #post {
    color: white;
    position: fixed;
    min-height: 150px;
    background-color: lightgrey;
    margin-left: 20%;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    
  }

  #postText{
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
   
  }

  .loginContainer{
  display: flex;
  min-height: 150px;
  background-color: #555;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 0 2px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  margin: 0 auto;
  
  margin-left: 700px;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  align-items: center;
  }

  .loginWarning{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #add8e6;
  }

  .loginReq{
    font-size: 20px;
    color: white;
  }
  
 #postButton{
  background-color: #111;
  color: lightblue;
  width: 60px;
  margin-left: 80px;
 }

 #postButton:hover{
  background-color: #555;
 }

.mainLogo{
  /* display: inline-block; */
  height: 90px;
}
 header{
  display: flex;
  align-items: center;
  justify-content: center;
 }
  #root{
    background-color: black;
  }

  input{
    color: #333333;
    background-color: lightblue;
    margin-right: 10px;
  }